.game-show {
  display: flex;
  justify-content: center;

  table {
    width: @content-max-width;
    border-collapse: collapse;
  }

  th {
    color: #678197;
    padding: .3em 1em;
    text-align: left;
    font-weight: bold;
  }

  td {
    color: #678197;
    padding: .3em 1em;
    text-align: left;
  }
}
