<div class="border row">
        <div class="col-md-8 border">
        	<h2 id='title'>Welcome to Mule-Frontend</h2>
        	Play games at a slower pace
        </div>
        <div class="col-md-4 border">
        	{{render "login-register"}}
        </div>
</div>
<br>
<div class="border">
	{{outlet}}
</div>