<div class="border row">
    <div class="col-md-8 border">
    	{{outlet headerLeft}}
    </div>
    <div class="col-md-4 border">
    	{{outlet headerRight}}
    </div>
</div>
<br>
<div class="border">
	{{outlet}}
</div>