<h2 class="big-text">Welcome to Mule-Frontend</h2>
<span class="small-text">Play games at a slower pace</span>
{{#if isUp}}
	<img style="width: 60px" src="assets/mule-up.jpg">
{{else}}
	<img style="width: 60px" src="assets/mule-down.jpg">
{{/if}}
