<h2 class="big-text">Welcome to Mule-Frontend</h2>
<span class="small-text">Play games at a slower pace</span>
{{#if isUp}}
	<img src="assets/mule-up.png">
{{else}}
	<img src="assets/mule-down.png">
{{/if}}
