<h3> Hello {{model.loggedInUsername}} </h3>		
{{#link-to 'users'}}Your Profile{{/link-to}} ||
<a href="#" {{action "logout" on="click"}}> Log Out </a><br>

{{#link-to 'games.my'}}My Games{{/link-to}} || 
{{#link-to 'games.open'}}Open Games{{/link-to}} || 
<strike><a href="#" {{action 'showModal' 'create-game-modal' on='click'}}> Create Game </a></strike>