<div class="logged-in">
	<span class="username"> {{model.loggedInUsername}} </span>
	<div class="right-of-username">	
		{{#link-to 'users'}}Profile{{/link-to}} <br>
		<a href="#" {{action "logout" on="click"}}> Log Out </a><br>
	</div>
</div>