<form role="form">
	<input type="text" class="form-control" placeholder="username">
	<input type="password" class="form-control" placeholder="password"><br>
	<button type="button" id="login-example-btn" data-loading-text="Loggin In..." class="btn btn-primary">
	  Login
	</button>
	<button type="button" id="register-example-btn" data-loading-text="Loading..." class="btn btn-primary">
	  Register
	</button>
</form>