<form class="form-horizontal" {{action "login" on="submit"}}>
	<div class="control-group">
	    <div class="control-label" style="text-align:left">
	        <label>Username</label>
	    </div>

	    <div class="controls">
	        {{input value=model.username type="text"}}
	    </div>
	</div>

	<div class="control-group">
	    <div class="control-label" style="text-align:left">
	        <label>Password</label>
	    </div>

	    <div class="controls">
	        {{input value=model.password type="password"}}
	    </div>
	</div>

	<button type="submit" id="login-example-btn" data-loading-text="Loggin In..." class="btn btn-primary">
	  Login
	</button>
	<button type="button" id="register-example-btn" data-loading-text="Loading..." class="btn btn-primary" {{action 'showModal' 'register-modal'}}>
	  Register
	</button>

	{{#if model.loginFailed}}
	<div class="alert alert-danger" role="alert">
		<strong> Login Failed </strong>
	</div>
	{{/if}}
	{{#if model.isSlowConnection}}
    	<div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
	{{/if}}
</form>