<span class="small-text"> Hop on. </span>
<form class="form-horizontal" {{action "login" on="submit"}}>
	<div class="control-group">
	    <div class="controls">
	        {{input class="input-form" value=model.username type="text" placeholder="Username"}}
	    </div>
	</div>

	<div class="control-group">
	    <div class="controls">
	        {{input class="input-form" value=model.password type="password" placeholder="Password"}}
	    </div>
	</div>

	<button type="submit" id="login-btn" data-loading-text="Loggin In..." class="btn btn-primary">
	  Sign In
	</button>
	<button type="button" id="register-btn" data-loading-text="Loading..." class="btn btn-primary" {{action 'showModal' 'register-modal'}}>
	  Register
	</button>

	{{#if model.loginFailed}}
	<div class="alert alert-danger" role="alert">
		<strong> Login Failed </strong>
	</div>
	{{/if}}
	{{#if model.isSlowConnection}}
    	<div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
	{{/if}}
</form>
